blockquote {
    text-align: left;
    font-style: italic;
    @media screen and (min-width: $sm) {
        @include font-size(20);
    }
    @media screen and (min-width: $md) {
        @include font-size(20);
    }
    &:before {
        content: '';
        display: block;
        margin-left: 15px;
        background: url('../../images/icon-quote-outlined.svg') no-repeat center center;
        background-size: contain;
        width: 60px;
        height: 56px;
        @media screen and (min-width: $md) {
            width: 80px;
            height: 75px;
        }
    }
} 

.main-content blockquote {
    margin: $sp-unit*2 0;
}

body.menu-open {
    overflow: hidden;
}