.btn {
    .wp-block-button__link {
        padding: 12px 22px;
        display: inline-block;
        color: $white;
        background: $brand-color;
        @include font-size(16);
        font-weight: 700;
        transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
        text-decoration: none;
        text-align: center;
        border: 1px solid $brand-color;
        line-height: 1;
        border-radius: 0px;
        cursor: pointer;

        &:hover {
            color: $brand-color;
            text-decoration: none;
            background-color: $white;
        }
    }

    &--right {
        .wp-block-button__link {
            padding-right: 40px;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                right: 20px;
                top: 50%;
                width: 15px;
                height: 15px;
                background-size: 6px;
                margin-top: 2px;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 24.3.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 15 25.8' style='enable-background:new 0 0 15 25.8;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23093A4F;%7D%0A%3C/style%3E%3Cg%3E%3Cpolygon id='svg_1' class='st0' points='0,2.1 10.8,12.9 0,23.8 2.1,25.8 15,12.9 12.9,10.8 2.1,0 '/%3E%3C/g%3E%3C/svg%3E%0A");
                transform: translateY(-50%);
                transition: all 0.3s ease;
            }

            &:hover {
                &:after {
                    right: 15px;
                }
            }
        }
    }

    &--yellow {
        .wp-block-button__link {
            background: $yellow;
            border: none;
            color: $brand-color;
            border-radius: 0px;

            &:hover {
                background-color: $brand-color;
                color: $white;
            }
        }

        &.btn--right {
            .wp-block-button__link {
                &:hover {
                    background-color: $yellow;
                    color: $brand-color;
                }
            }
        }
    }

    &--light-blue {
        .wp-block-button__link {
            background: $sec-brand-color;
            border: none;
            color: $white;

            &:hover {
                background-color: $brand-color;
                color: $white;
            }
        }
    }

    &--white {
        .wp-block-button__link {
            background: $white;
            border: 1px solid $brand-color;
            color: $brand-color;

            &:hover {
                background-color: $brand-color;
                color: $white;
            }
        }
    }

    &--white-ghost {
        .wp-block-button__link {
            background: $brand-color;
            border: 2px solid $white;
            color: $white;

            &:hover {
                background-color: $white;
                color: $brand-color;
            }
        }
    }
}

.btn.btn-normal--yellow .wp-block-button__link {
    color: $brand-color;
    background-color: $yellow;
    border: 1px solid $yellow;
    &:hover {
        color: $white;
        border: 1px solid $brand-color;
        background-color: $brand-color;
    }
}

.banner--blue.banner--large .wp-block-button.btn.btn-normal--yellow .wp-block-button__link {
    &:hover {
        color: $brand-color;
        border: 1px solid $white;
        background-color: $white;
    }
}

.btn-normal {
    padding: 12px 22px;
    display: inline-block;
    color: $white;
    background: $brand-color;
    @include font-size(16);
    font-weight: 700;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    text-decoration: none;
    text-align: center;
    border: 1px solid $brand-color;
    line-height: 1;
    border-radius: 0px;
    cursor: pointer;

    &:hover {
        color: $brand-color;
        text-decoration: none;
        background-color: $white;
    }

    &.pricing-ppc-btn {
        background-color: $sec-brand-color;
        font-size: 24px;
        margin-left: 30px;
        margin-top: 20px;
        font-family: $condensed;
        border: 1px solid $sec-brand-color;
        text-transform: uppercase;

        &:hover {
            background-color: $brand-color;
            border: 1px solid $brand-color;
            color: $white;
        }
    }

    &--orange {
        width: auto !important;
        background-color: #FE9F44 !important;
        border-radius: 25px !important;
        border: none !important;
        color: $white !important;
        font-weight: 700 !important;
        height: auto !important;

        &:hover {
            background-color: $white !important;
            color: #FE9F44 !important;
        }
    }

    &--white-ghost {
        background: transparent;
        border: 2px solid $white;
        color: $white;
        padding: 11px 22px;

        &:hover {
            background-color: $white;
            color: $brand-color;
        }
    }

    &--white {
        background: $white;
        border: 1px solid $brand-color;
        color: $brand-color;

        &:hover {
            background-color: $brand-color;
            color: $white;
        }
    }

    &--large {
        @media(min-width: $md) {
            font-size: 22px;
            font-family: $condensed;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    &--yellow {
        background: $yellow;
        border: none;
        color: $brand-color;

        &:hover {
            background-color: $brand-color;
            color: $white;
        }
    }

    &--red {
        background: #D94F2F;
        border: 2px solid #D94F2F;
        color: $white;

        &:hover {
            background-color: $white;
            color: #D94F2F;
        }
    }

    &--yellow-white {
        background: $yellow;
        border: none;
        color: $brand-color;

        &:hover {
            background-color: $white;
            color: $brand-color;
        }
    }

    &--light-blue {
        background: $sec-brand-color;
        border: none;
        color: $white;

        &:hover {
            background-color: $brand-color;
            color: $white;
        }
    }

    &--banner {
        background-color: $sec-brand-color;
        color: #fff;
        border-radius: 0;
        border: none;

        &:hover {
            color: $sec-brand-color;
        }
    }

    &--xero {
        background-color: $xero;
        color: #fff;
        border-radius: 0;
        border: none;

        &:hover {
            background-color: $brand-color;
            color: $white;
        }
    }
}

.link {
    color: $btn-bg;
    @include font-size(14);
    font-weight: 700;
    transition: text-decoration 0.3s ease;

    &:hover {
        transition: color 0.25s ease-in-out;
        color: $btn-bg-hover;
    }
}

body .wpcf7 input.wpcf7-submit {
    padding: 12px 22px;
    display: inline-block;
    @include font-size(16);
    font-weight: 700;
    transition: all 0.25s ease-in-out;
    text-decoration: none;
    text-align: center;
    line-height: 1;
    border-radius: 0px;
    background: $yellow;
    color: $brand-color;

    &:hover {
        cursor: pointer;
        background-color: $brand-color;
        color: $white;
    }
}

body .floating-form .wpcf7 input.wpcf7-submit {
    background-color: #CE3626;
    border: 2px solid #CE3626;
    color: $white;
    font-family: $condensed;
    text-transform: uppercase;
    font-size: 20px;
    padding: 6px 22px;

    &:hover {
        cursor: pointer;
        background-color: $white;
        color: #CE3626;
    }
}

.arrow-link {
    color: $sec-brand-color;
    font-size: 17px;
    text-decoration: underline;
    position: relative;
    padding-right: 30px;
    display: inline-block;

    &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 40px;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ctitle%3Ebackground%3C/title%3E%3Crect fill='none' id='canvas_background' height='402' width='582' y='-1' x='-1'/%3E%3C/g%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Crect x='0' y='-0.062893' id='svg_1' width='32' height='32' fill='none'/%3E%3Cpolygon fill='%23429bcb' id='svg_2' points='10,2.001 24,16 10,30 '/%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: right 0.3s ease;
    }

    &:hover {
        color: $sec-brand-color;
        &:after {
            right: -7px;
        }
    }
}