.hero {
    margin-top: -89px;
    padding-bottom: 50px;
    position: relative;

    // &--no-mobile {
    //     @media(max-width: $md) {
    //         display: none;
    //     }
    // }

    .owl-stage {
        display: flex;
        height: 100%;
        &-outer {
            height: 100%;
        }
    }

    .owl-item {
        overflow: hidden;

        &.active {
            .hero__bg {
                transform: scale(1.1);
            }
        }
    }

    .owl-nav {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        margin-top: -30px;
        display: none;
        max-width: 1250px;

        @media(min-width: $md) {
            display: block;
        }
        

        .owl-nav-right,
        .owl-nav-left {
            position: absolute;
            right: 40px;

            &__wrapper {
                width: 30px;
                height: 30px;
                position: relative;

                @media(min-width: $md) {
                    width: 50px;
                    height: 50px;
                }
                
                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    border: 1px solid $white;
                    transform: rotate(-45deg);
                    transition: transform 0.3s ease;
                }

                &:after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 0; 
                    height: 0; 
                    border-top: 8px solid transparent;
                    border-bottom: 8px solid transparent;
                    border-left: 8px solid $white;
                }

                &:hover {
                    &:before {
                        transform: rotate(0deg);
                    }
                }
            }
        }

        .owl-nav-right {
            left: 0;
            right: auto;
            display: none;

            &__wrapper {
                &:after {
                    border-right: 8px solid $white;
                    border-left: none;
                }

                &:hover {
                    &:before {
                        transform: rotate(-90deg);
                    }
                }
            }
        }
    }

    &__drop-btm-pad {
        margin-bottom: -50px;
        //Couldnt get this rule to work. Manually added a class to apply padding ('add-padding-top').
        .wp-block-columns.alignfull {
            padding-top: 40px;
        }
    }


    &__dots-container {
        position: absolute;
        width: 100%;
        max-width: 1250px;
        left: 50%;
        height: 100%;
        top: 0;
        transform: translateX(-50%);
        z-index: 10;
        pointer-events: none;
    }

    &__dots {
        padding: 5px 20px;
        border-radius: 20px;
        background-color: rgba($color: $white, $alpha: 0.8);
        position: absolute;
        border: 1px solid $sec-brand-color;
        left: 50%;
        bottom: 50px;
        transform: translate(-50%, 100%) translateY(10px);
        display: flex;
        pointer-events: all;


        @media(min-width: $md) {
            left: auto;
            right: 20px;
            bottom: 110px;
            border: none;
            transform: none;
            padding: 7px 10px;
        }

        .hero__dot {
            width: 15px;
            height: 15px;
            margin-right: 10px;
            transition: background-color 0.3s ease;
            transform: rotate(45deg);
            margin-right: 10px;
            border: 2px solid $sec-brand-color;

            &:hover {
                background-color: $sec-brand-color;
            }

            &:focus {
                outline: none;
            }

            @media(min-width: $md) {
                width: 12px;
                height: 12px;
                margin-right: 7px;
            }

            &.active {
                background-color: $sec-brand-color;
            }

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    &__title {
        h1 {
            color: $white;
            margin-bottom: 15px;
            @media(min-width: $lg) {
                font-size: 60px;
            }


            &.smaller-h1 {
                @media(min-width: $lg) {
                    font-size: 40px;
                }
            }
        }

        h2 {
            color: $white;
            margin-bottom: 15px;
            @include font-size(25);

            @media(min-width: $md) {
                @include font-size(60); 
            }
        }
        br:not(.keep) {
            @media(max-width: 767px) {
                display: none;
            }
        }
    }

    &__banner { 
        position: relative;
        padding-top: 100px;
        padding-bottom: 320px;
        height: 100%;

        &.reduce-mobile-sizing {
            @media(max-width: $md) {
                padding-bottom: 100px !important;
            }
        }

        &.no-mobile-pb {
            @media(max-width: $md) {
                padding-bottom: 0px !important;
            }
        }

        &.fix-mobile-bg {
            .hero__bg {
                @media(max-width: $md) {
                    background-size: 60% !important;
                    background-position: bottom !important;
                }
            }
        }

        &--only-title {
            padding-bottom: 120px;

            @media(min-width: $md) {
                padding-bottom: 20px;
            }
        }

        &--nic-hamilton-form.hero__banner {
            padding-bottom: 120px;

            @media(min-width: $md) {
                padding-bottom: 110px;
            }

            .hero__title {
                h1 {
                    @include font-size(60);
                    text-align: right;

                    @media(min-width: $md) {
                        @include font-size(50);
                        text-align: left;
                    }
                    @media(min-width: $lg) {
                        @include font-size(60);
                    }

                    span {
                        color: #D3422B;
                    }
                }
            }

            .hero__text {
                text-align: right;

                @media(min-width: $md) {
                    text-align: left;
                }

                .hero-body-tablet-br {
                    display: none;

                    @media(min-width: $lg) {
                        display: unset;
                    }
                    @media(min-width: $xlg) {
                        display: none;
                    }
                }
            }

            .hero__ppc-form-text {
                h2 {
                    color: $white;
                    @include font-size(30);
                    margin-bottom: 5px;
                }
            }
        }

        &--bogof-license-form.hero__banner {
            padding-bottom: 0px;

            @media(min-width: $md) {
                padding-bottom: 0px;
            }

            .hero__title {
                h1 {
                    @include font-size(30);
                    line-height: 1;

                    @media(min-width: $md) {
                        @include font-size(40);
                    }

                    @media(min-width: $lg) {
                        @include font-size(52);
                    }

                    span {
                        color: $brand-color;
                    }
                }
            }
        }

        @media(min-width: $md) {
            padding-bottom: 20px;
            padding-top: 134px;
        }

        &--logos {
            padding-bottom: 425px;

            @media(min-width: $md) {
                padding-bottom: 135px;
            }

            .hero__foreground-image {
                bottom: 115px;

                @media(min-width: $md) {
                    bottom: 0px;
                }
            }
        }

        &.hero__bg--below_menu {
            margin-top: 89px;
            padding-top: 11px;
    
            @media(min-width: $md) {
                padding-top: 100px;
            }
        }
    }

    &__bg-color {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__bg {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: transform 4s ease 0.3s;

        @media(max-width: $md) {
            background-size: cover !important;
            background-position: center !important;
        }

        &--max-width {
            max-width: 1210px; // maxwidth - 20px padding either sdie
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
            transition: none;
        }

        &--no-overlay {
            &:after {
                display: none;
            }
        }

        &--before {
            &:before {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                width: 40%;
                background-repeat: repeat;
                background-position: top right;
                background-size: 100%;
                display: none;

                @media(min-width: $lg) {
                    display: block;
                }
            }
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: $brand-color;
            opacity: 0.3;

            @media(min-width: $md) {
                opacity: 0.1;
            }
        }
    }

    &__foreground-wrapper {
        position: absolute;
        width: 100%;
        max-width: 1250px;
        left: 50%;
        height: 100%;
        top: 0;
        transform: translateX(-50%);
        z-index: 1;
        pointer-events: none;

        @media(min-width: $md) {
            z-index: 10;
        }
    }

    &__foreground-image {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0px;
        width: 100%;

        @media(min-width: $md) {
            position: static;
            left: auto;
            bottom: auto;
            transform: none;
            width: auto;
        }

        img {
            width: auto !important; //overwrite owl
            margin: 0 auto;
            object-fit: cover;

            @media(min-width: $md) {
                height: auto;
                max-height: 600px;
            }
        }

        @media(min-width: $md) {
            position: absolute;
            right: 20px;
            bottom: 0px;
            margin: 0;
            width: 200px;
            height: auto;
            z-index: 10;
        }

        @media(min-width: $lg) {
            width: 300px;
            max-height: none;
        }

        @media(min-width: $xlg) {
            width: 470px;
        }
    }

    &__pre-title {
        margin-bottom: 10px;

        p {
            color: $white;
            @include font-size(20);
            font-family: $condensed;
            text-transform: uppercase;
            margin: 0;
        }

        img {
            width: 100%;
            max-width: 200px;
            margin-bottom: 15px;
        }
    }

    &__icon {
        width: 60px;
        margin-bottom: 10px;

        img {
            width: 100%;
            display: block;
        }
    }

    &__banner {

        &--small {
            .hero__content-wrapper {
                margin-top: 0px;
                margin-bottom: 0px;
            }

            &.hero__banner.hero__bg--below_menu {
                padding-top: 0px;
            }
        }


        &.hero__bg--square {
            @media(min-width: $md) {
                overflow: hidden;
                padding-top: 1px;
                padding-bottom: 1px;
            }

            .container {
                .hero__bg--square {
                    @media(min-width: $md) {
                        background-color: rgba($color: $sec-brand-color, $alpha: 0.8);
                        height: 425px;
                        width: 425px;
                        transform: rotate(45deg);  
                        margin-top: 40px;
                        margin-bottom: 30px;

                        .hero__title {
                            top: 50%;
                            left: 50%;
                            text-align: center;
                            width: 110%;
                            font-size: 80px;
                            position: absolute;
                            transform: translate(-50%,-50%) rotate(-45deg);
                            
                            h1 {
                                font-size: 80px;
                            }
                        }
                    }
                }
            }
        }
    }


    &__text {
        max-width: 400px;

        @media(min-width: 767px) {
            max-width: none;
        }

        h1,h2,h3,h4,h5,h6,p,span,li,ol,ul,small {
            color: $white;
            margin-bottom: 15px;

            @media(max-width: 767px) {
                font-size: 16px !important;
            }
        }

        img {
            @media(max-width: 767px) {
                max-width: 100px !important;
            }
        }

        .btn-normal {
            @media(max-width: 767px) {
                @include font-size(13);
            }
        }

        a {
            margin-top: 10px;
        }

        p {
            font-size: 24px;
            font-weight: 700;
        }

        p:last-of-type {
            margin-bottom: 0px;
        }

        br {
            @media(max-width: 767px) {
                display: none;
            }
        }
    }

    &__caption {
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #000000, $alpha: 0.6);
        padding: 10px;

        p {
            margin: 0;
            color: $white;
            font-weight: 700;
            @include font-size(15);
        }
    }

    &__content-wrapper {
        width: 100%;
        max-width: 680px;
        margin: 0 auto 50px;
        padding: 20px 0px;
        position: relative;
        z-index: 10;

        @media(min-width: $md) {
            margin: 0;
            margin-bottom: 100px;
            padding: 25px 0px;
        }

        &--only-title {
            @media(min-width: $md) {
                margin-top: 90px;
            }
        }

        &--no-marg {
            @media(min-width: $md) {
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }

        &--white-bg {
            background-color: rgba($color: $white, $alpha: 0.9);
            padding: 10px;

            @media(min-width: $md) {
                margin: 0;
                margin-bottom: 100px;
                padding: 30px;
            }
    
            @media(min-width: $lg) {
                padding: 40px;
            }

            .hero__title h1 {
                color: #444;
            }

            .hero__pre-title p {
                color: #444;
            }

            .hero__text h1,h2,h3,h4,h5,h6,p,span,li,ol,ul {
                color: #444;
            }
        }
    }

    &__logos-wrapper {
        background-color: $white;
        padding: 10px 0px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 20px;
        z-index: 5;

        .owl-stage {
            display: flex;
            align-items: center;
        }
    }

    &__logos {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 80px;

        @media(min-width: $md) {
            padding-right: 200px;
        }

        @media(min-width: $lg) {
           padding-right: 320px;
        }

        @media(min-width: $xlg) {
            padding-right: 470px;
         }

        &--full {
            @media(min-width: $md) {
                width: 100%;
            }
    
            @media(min-width: $lg) {
                width: 100%;
            }
        }

        img {
            max-width: 100px;
            margin: 0 auto;

            @media(min-width: $md) {
                margin: 0;
                max-width: 120px;
            }

            &.portrait {
                width: auto;
                max-height: 80px;
                margin: 0 auto;
            }
        }
    }

    &__logo {
        @media(min-width: $md) {
            margin-right: 15px;
            margin-left: 5px;
        }
    }

    &__banner--1 {

        .hero__logo {
            @media(min-width: $md) {
                opacity: 0;
                transition: opacity 0.3s ease;
            }
    
            &.visible {
                opacity: 1;
            }
        }
    }

    .form-in-hero {
        .bc-modal__form p,
        .bc-modal__text p {
            font-size: 17px;
            color: $base-color;
            font-weight: 300;
        }

        .bc-modal__form span.wpcf7-not-valid-tip {
            color: #dc3232 !important;
        }

        .bc-modal__text p {
            margin-bottom: 15px;
        }

        .bc-modal__title p {
            font-size: 30px;
            font-weight: 700;
            color: $sec-brand-color;
        }
    }

    &.updated-hero {
        margin-top: 0px;

        .container.hero-flex {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .hero__new-image {
                width: 50%;
                display: none;
                align-items: flex-end;

                @media(min-width: 500px) {
                    display: flex;
                }

                @media(min-width: $lg) {
                    width: calc(100% - 550px);
                }

                img {
                    max-height: 500px;

                    @media(min-width: $xlg) {
                        max-height: 620px;
                    }
                }

                &-image {
                    width: 100%;

                    @media(min-width: $lg) {
                        margin-left: 60px;
                    }
                }
            }

            .hero__content-wrapper {
                width: 100%;

                @media(min-width: 500px) {
                    width: 50%;
                }

                @media(min-width: $lg) {
                    max-width: 550px;
                }
            }
        }

        .hero-flex--center {
            .container.hero-flex {
                align-items: center;
            }
        }

        .hero-btn-capterra {
            .hero__button {
                position: relative;
                margin-top: 100px;

                &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 50%;
                    width: 200px;
                    height: 100px;
                    background-image: url('https://www.bigchange.com/wp-content/uploads/2022/02/capterra-no-bg.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    transform: translateY(-50%);
                    display: none;

                    @media(min-width: $md) {
                        display: block;
                    }
                }
            }
        }

        .hero-image-mw-420 {
            .hero__new-image {
                img {
                    max-width: 420px;
                    margin: 0 auto;
                }
            }
        }

        .hero__banner.hero--align-image-center {
            .hero__new-image {
                align-items: center;
            }
        }

        .hero__banner.hero-bg-top {
            .hero__bg {
                background-position: top center;
            }
        }

        .hero__banner.hero-overline {
            .hero__title {
                position: relative;
                padding-top: 50px;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 20px;
                    width: 100px;
                    height: 2px;
                    background-color: $new-sec-brand-color;
                }

                h1 {
                    @media(min-width: $lg) {
                        font-size: 50px;
                    }
                }
            }
        }

        .hero__banner.hero-smaller-title {
            .hero__title {
                h1 {
                    @media(min-width: $lg) {
                        font-size: 50px;
                    }
                }
            }
        }

        .hero__banner.hero-2022-home {
            .hero__new-image-image {
                img {
                    @media(min-width: $xlg) {
                        max-height: 550px;
                    }
                }
            }

            .hero__title h1 {
                position: relative;
                padding-top: 50px;

                @media(max-width: $md) {
                    br {
                        display: none;
                    }
                }

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 20px;
                    width: 100px;
                    height: 2px;
                    background-color: $new-sec-brand-color;
                }

                @media(min-width: $lg) {
                    font-size: 40px;
                }
            }

            .hero__text {
                max-width: 400px;

                h1,h2,h3,h4,h5,h6,p,span,li,ol,ul {
                    color: #444;

                    @media(max-width: $md) {
                        br {
                            display: none;
                        }
                    }
                }

                p {
                    font-size: 20px;
                }
            }

            .hero__bg--before {
                &:before {
                    background-repeat: no-repeat;
                    background-position: 0 20%;
                }
            }

            .hero__content-wrapper {
                @media(min-width: 850px) {
                    position: static;
                }
            }

            .hero-flex {
                @media(min-width: 850px) {
                    position: relative;
                }
            }

            .hero__accred {
                @media(min-width: 850px) {
                    text-align: left;
                    position: absolute;
                    right: 0;
                    bottom: 20px;
                    padding-top: 10px;
                }

                p {
                    @media(min-width: 850px) {
                        padding-top: 0px;
                    }
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 50px;
                    height: 2px;
                    background-color: $new-yellow;
                }
            }
        }

        .hero__banner.mobile-2022 {
            padding-bottom: 0;

            .hero__bg:after {
                opacity: .1 !important;
            }

            .hero__new-image {
                display: flex;
                width: 100% !important;
                
                @media(min-width: $md) {
                    width: 50% !important;
                }
            }

            .hero__button {
                margin-top: 10px;

                @media(min-width: $md) {
                    margin-top: 40px;
                }
                .home-capterra {
                    display: none !important;

                    @media(min-width: $md) {
                        display: block !important;
                        margin-top: unset;
                        position: unset;
                        bottom: unset;
                        right: unset;
                        margin-top: 50px;
                    }
                }
            }

            .hero__content-wrapper {
                padding-bottom: 0;
                @media(min-width: $md) {
                    padding-bottom: 20px;
                }
            }

            .home-capterra {
                display: block !important;
                margin-top: 0;
                position: absolute;
                bottom: 10px;
                right: 10px;

                img {
                    margin-left: auto;
                    width: 100%;
                    max-width: 100px;

                    @media(min-width: $md) {
                        margin-left: unset;
                        width: 100%;
                        max-width: 150px;
                    }
                }

                @media(min-width: $md) {
                    display: none !important;
                }
            }

            .hero__accred {
                display: none;

                @media(min-width: $md) {
                    display: block;
                }
            }

            .hero__bg--before:before {
                display: block;
                background-position: 50% 85% ;
                background-size: 90%;
                width: 100%;

                @media(min-width: $md) {
                    display: none;
                    background-position: unset;
                    background-size: unset;
                    width: unset;
                }

                @media(min-width: $lg) {
                    display: block;
                    background-size: 100%;
                    background-position: 0 20%;
                    width: 40%;
                }
            }
        }

        .home-capterra {
            margin-top: 50px;
            width: 100%;

            @media(min-width: $lg) {
                margin-top: 30px;
            }
            
            img {
                width: 100%;
                max-width: 150px;
            }
        }

        .container.move-fg-down {
            @media(min-width: $lg) {
                padding-bottom: 100px;
            }

            .hero__new-image-image {
                @media(min-width: $lg) {
                    margin-left: 0px;
                }

                img {
                    @media(min-width: $lg) {
                        margin-bottom: -220px;
                    }
                }
            }
        }


        .hero {
            &__title {
                h1 {
                    color: $white;
                    margin-bottom: 15px;
                    @media(min-width: $lg) {
                        font-size: 70px;
                    }
        
        
                    &.smaller-h1 {
                        @media(min-width: $lg) {
                            font-size: 40px;
                        }
                    }

                    &.large-h1,
                    .large-h1 {
                        @media(min-width: $lg) {
                            font-size: 100px;
                        }
                    }
                }
        
                h2 {
                    color: $white;
                    margin-bottom: 15px;
                    @include font-size(25);
        
                    @media(min-width: $md) {
                        @include font-size(70); 
                    }

                    &.large-h1,
                    &.large-h2,
                    .large-h1,
                    .large-h2  {
                        @media(min-width: $lg) {
                            font-size: 100px;
                        }
                    }
                }
                br:not(.keep) {
                    @media(max-width: 767px) {
                        display: none;
                    }
                }
            }

            &__banner { 
                position: relative;
                padding-top: 20px;
                padding-bottom: 20px;
                height: 100%;
        
                @media(min-width: $md) {
                    padding-bottom: 0px;
                    padding-top: 0px;
                }
    
                &.flip-hero {
                    .container.hero-flex {
                        flex-direction: row-reverse;
                    }

                    .hero__bg--before {
                        &:before {
                            right: auto;
                            left: 0;
                        }
                    }
                }

                &.smaller-foreground {
                    .hero__new-image {
                        img {
                            max-height: 400px;
                        }
                    }
                }

                &.foreground-padded-top {
                    .hero__new-image {
                        padding-top: 40px;

                        @media(min-width: $lg) {
                            padding-top: 100px;
                        }
                    }
                }

                &.show-image-mobile {
                    .hero__new-image {
                        @media(max-width: 500px) {
                            display: flex;
                            justify-content: center;
                            width: 100%;
                            max-width: 250px;
                            margin: 0 auto;
                        }
                    }
                }

                &.hero-no-pad-bot {
                    padding-bottom: 0px !important;
                }

                &.hero-pull-50 {
                    margin-bottom: -50px;
                }
            }

            &__content-wrapper {
                width: 100%;
                max-width: 680px;
                margin: 0 auto 0px;
                padding: 20px 0px;
                position: relative;
                z-index: 10;
        
                @media(min-width: $md) {
                    margin: 0;
                    padding: 50px 0px;
                    color: red;
                }
            }
        }

        .hero__banner.hero--padded-large {
            .hero__content-wrapper {
                @media(min-width: $md) {
                    padding: 80px 0px;
                }

                @media(min-width: $lg) {
                    padding: 125px 0px;
                }

                @media(min-width: $xlg) {
                    padding: 180px 0px;
                }
            }
        }

        .hero__banner.hero--padded {
            .hero__content-wrapper {
                @media(min-width: $md) {
                    padding: 80px 0px;
                }

                @media(min-width: $lg) {
                    padding: 125px 0px;
                }
            }
        }
    }

    &__button {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;

        a {
            margin-right: 15px;
        }
    }

    &__accred {
        margin-top: 20px;

        @media(min-width: $md) {
            text-align: right;
        }

        p {
            color: $new-blue;
            font-size: 16px;
            margin: 0;
            padding-top: 10px;
            font-weight: 700;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 50px;
                height: 2px;
                background-color: $yellow;
                display: none;

                @media(min-width: $md) {
                    left: auto;
                    right: 0;
                }
            }
        }
        
    }

    &--podcast {

        padding-bottom: 40px;
        padding-top: 200px;

        @media(min-width: $md) {
            padding-bottom: 20px;
            padding-top: 134px;
        }


        .hero__bg {
            @media(min-width: $xlg) {
                background-size: contain;
            }
        }

        .hero__icon {
            width: 100px;
        }

        .hero__pre-title {
            p {
                font-family: 'helvetica-new',"Times New Roman",Arial,sans-serif !important; 
                text-transform: none; 
                font-size: 30px; 
                color: #fcdf07; 
                font-weight: 700;
            }
            
        }

        .hero__title {
            h1 {
                line-height: 0.8;

                .mp-large {

                    font-size: 60px;

                    @media(min-width: $lg) {
                        font-size: 90px;
                    }
                }

                .mp-small {
                    font-size: 35px;
                    @media(min-width: $lg) {
                        font-size: 40px;
                    }
                }
            }
        }
    }
}

.no-wrap {
    white-space: nowrap;
}
.industrial-doors-custom-bg .hero__bg{
    background-image: url(https://www.bigchange.com/wp-content/uploads/2021/02/industrial-doors-mobile.jpg) !important;
}

.new-hero-bg {
    overflow: hidden;
    .container {
        position: relative;
    }

    .container--flex .hero__content-image img {
        @media(min-width: $lg) {
            max-height: none;
        }
    }

    .hero__content-image {
        @media(min-width: $lg) {
            position: absolute;
            right: 0px;
        }
    }

    &--top {
        .hero__content-image {
            @media(min-width: $lg) {
                top: -180px;
            }
        }
    }

    &--bottom {
        .hero__content-image {
            @media(min-width: $lg) {
                bottom: -180px;
            }
        }
    }

    &--bottom-small {
        .hero__content-image {
            @media(min-width: $lg) {
                bottom: -100px;
            }
        }
    }

    &--image-max {
        .container--flex .hero__content-image img {
            @media(min-width: $lg) {
                max-height: 400px;
            }
        }
    }

    &--nic-hamilton.new-hero-bg--ppc {

        .container--flex .hero__ppc-form {

            max-height: 750px;
            overflow: auto;

            @media(min-width: $lg) {
                top: -100px;
            }

        }
    }

    &--bogof-license.new-hero-bg--ppc {

            .container--flex { 

                justify-content: flex-start;

                .hero__content-image {
                    display: none;

                    @media(min-width: $lg) {
                        display: block;
                    }

                    img {
                        float: right;
                    }
                }

                .hero__content-wrapper {
                    
                    @media(min-width: $md) {
                        max-width: 50%;
                    }
                }

                .hero__ppc-form {

                    max-height: 750px;
                    overflow: auto;
                    z-index: 20;
                    right: 0;
                    left: 50%;
                    padding-top: 50px;

                    @media(min-width: $lg) {
                        top: -100px;
                    }

                    &-text {
                        h2 {
                            font-size: 25px;
                            text-align: center;
                            color: #fff;
                        }
                    }
                }

                
        }
    }

    &--ppc {
        .container--flex .hero__content-image img {
            @media(min-width: $lg) {
                max-height: 500px;
            }
        }

        .container--flex .hero__content-image {
            @media(min-width: $lg) {
                bottom: -20px;
            }
        }

        .container--flex .hero__content-wrapper {
            @media(min-width: $lg) {
                max-width: 40%;
            }
        }

        .container--flex .hero__content-image {
            @media(min-width: $lg) {
                width: 60%;
                padding-left: 0;
            }
        }

        .container--flex {
            @media(min-width: $xlg) {
                max-height: 460px;
            }
        }

        .container--flex .hero__ppc-form {
            width: 100%;
            max-width: 350px;
            background-color: rgba($color: $brand-color, $alpha: 0.6);
            padding: 20px;
            margin: 0 auto;
            margin-top: 20px;

            @media(min-width: $lg) {
                position: absolute;
                top: -45px;
                right: 20px;
                padding-bottom: 200px;
                margin: 0;
            }

            &-text {
                p {
                    color: $white;
                    font-weight: 700;
                }
            }

            &-form {
                form {
                    p {
                        margin-bottom: 0;

                        label {
                            font-size: 12px;
                            color: $white;
                            font-weight: 700;
                        }

                        input[type=submit] {
                            margin-top: 30px;
                            color: $white;
                            border: 1px solid $white;
                        }
                    }
                }

                .form-started {
                    display: none;
                }

                .form-demo {
                    margin-top: 30px;
                }
            }
        }
    }
}

.new-hero-smaller-h1 {
    h1 {
        @media(min-width: $lg) {
            font-size: 45px;
            line-height: 1.1;
        }
    }
}

.hero__banner.hero-text-lower {
    .hero__title h1 {
        text-transform: none;
    }
}

.hero__banner.hero-text-bold-font {
    .hero__title h1 {
        font-family: $helvetica-bold;
    }
}

.hero__banner.hero-text-quote {
    .hero__title h1 {
        position: relative;
        margin-top: 20px;
        padding-right: 20px;

        @media(min-width: $md) {
            padding-right: 0;
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: -40px;
            width: 30px;
            height: 30px;
            background-image: url('https://www.bigchange.com/wp-content/uploads/2021/06/icon-quote-outlined-white-smaller.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        // &:after {
        //     right: 0px;
        //     bottom: 5px;
        //     width: 30px;
        //     height: 30px;
        //     left: auto;
        //     top: auto;
        //     transform: rotate(180deg);

        //     @media(min-width: $md) {
        //         right: 40px;
        //     }

        //     @media(min-width: $lg) {
        //         bottom: 17px;
        //         width: 20px;
        //         height: 20px;
        //     }
        // }
    }
}

.hero__banner.secrets-of-leadership {
    // @media(min-width: $lg) {
    //     padding-top: 200px;
    // }

    // @media(min-width: $xlg) {
    //     padding-top: 300px;
    // }

    // @media(min-width: 1920px) {
    //     padding-top: 500px;
    // }

    .hero__bg {
        @media screen and (max-width: 767px) {
            background-position: bottom !important;
        }

        @media screen and (min-width: 1920px) {
            background-size: 60% !important;
        }
    }
}