.image-text-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    
    &__image {
        width: 50px;
        margin-right: 20px;

        @media(min-width: $md) {
            width: 70px;
        }

        img {
            max-height: 60px;
        }
    }

    &__content {
        width: calc(100% - 20px);
    }

    &__title {
        p {
            margin: 0;
            @include font-size(20);
            font-weight: 700;
            font-family: $helvetica-bold;
        }
    }

    &__text {
        p {
            margin: 0;
            @include font-size(17);
        }
    }
}

.space-right {
    @media(min-width: $md) {
        padding-right: 50px;
    }
}

.space-left {
    @media(min-width: $md) {
        padding-left: 50px;
    }
}

.line {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 4px;
        height: 100%;
        background-color: $sec-brand-color;
        display: none;

        @media(min-width: $md) {
            display: block;
        }
    }
}