.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    padding: 15px 0px;
    height: 60px;

    img {
        max-width: 150px;
        margin: 0 auto;
    }
}

.logos-second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    padding: 15px 0px;
    height: 60px;

    img {
        max-width: 150px;
        margin: 0 auto;
    }
}