.search {
    &.container {
        margin-top: 80px;
    }

    .page-title {
        padding: 0px 10px;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__card {
        width: 100%;
        height: auto;

        @include respond-min($md) {
            width: calc(50% - 20px);
        }

        @include respond-min($lg) {
            width: calc(33.333% - 20px);
        }
    }

    .navigation {
        width: 100%;
        padding: 0px 10px;
        margin-top: 40px;

        .screen-reader-text {
            display: none;
        }

        .nav-links {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            a {
                color: $brand-color;
                font-weight: 700;
                font-size: 17px;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}